
@import '~antd/dist/antd.css';
/* @font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/SourceSansPro-Black.ttf");
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/SourceSansPro-BlackItalic.ttf");
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/SourceSansPro-Bold.ttf");
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/SourceSansPro-BoldItalic.ttf");
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/SourceSansPro-ExtraLight.ttf");
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/SourceSansPro-ExtraLightItalic.ttf");
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/SourceSansPro-Italic.ttf");
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/SourceSansPro-Light.ttf");
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/SourceSansPro-LightItalic.ttf");
} */
@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/SourceSansPro-Regular.ttf");
}
* {
  font-family: "Source Sans Pro", "sans-serif" !important;
  margin: 0 ;
}
/* .rowFlex{
    display: flex;
 
}
.Columnflex{
    display: flex;
    flex: 8;
    flex-direction: column;
}
 */
/* .padding-0{
    padding-right:0;
    padding-left:0;
} */
.react-confirm-alert-overlay {
  z-index: 9999999 !important;
}
.custom-ui {
  z-index: 125552;
  text-align: center;
  width: 500px;
  padding: 40px;
  background: #28bae6;
  box-shadow: 0 20px 75px rgb(0 0 0 / 23%);
  color: #fff ;

}
.custom-ui > h1{
  color: #fff !important 
}
.custom-ui > button {
  width: 160px;
  padding: 10px;
  border: 1px solid #fff;
  margin: 10px;
  cursor: pointer;
  background: none;
  color: #fff;
  font-size: 14px;
  margin-top: 40px;
}

.MuiPaper-elevation4 {
  box-shadow: none !important;
}

@media screen and (max-width: 727px) {
  .MuiToolbar-root.MuiToolbar-regular.MuiTablePagination-toolbar {
    display: flex;
    flex-direction: column;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;

  /* font-family: 'Montserrat', sans-serif; */
}

body {
  overflow-x: hidden;
}
input {
  width: 100%;
  height: 40px;
  border-radius: 90px;
}
