/* .bg-blue {
    color: #fff;
    background-color: #011627;
   
    margin-top: calc(100vh - 50px);
}

.bg-blue2 {
    color: #fff;
    background-color: #011627;
    margin-top: calc(100% - 80%);
} */
@media screen and (max-width: 280px) {
  .bg-blue {
    position: absolute;
    z-index: 52551515151;
  }
}
/* #main{
  margin-left: 270px ;
}
#mainclose{
  margin-left: 90px ;
}
#mainsignin{
    margin-left: 0px;
} */
@media screen and (max-width: 728px) {
  #main {
    margin-left: 90px !important;
  }
}
@media screen and (max-width: 280px) {
  #main {
    margin-left: 30px !important;
  }
}
/* @media screen and (max-width: 1024px) {
    .bg-blue {
        color: #fff;
        background-color: #011627;
        margin-top: 100%  ;
    }
}


  #main {
    transition: margin-left .5s;
    padding: 0px !important;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */

/* On screens that are 600px or less, set the background color to olive */
